<div class="background-container">

  <!--  <app-navigation-bar></app-navigation-bar>-->
  <div class="card-container">
    <div class="card-background">
      <div *ngIf="screenWidth >= 660" class="status-bar">
        <div
          [ngClass]="{'active': exchangeData.status === 'waiting' || exchangeData.status === 'confirming'
        || exchangeData.status === 'exchanging' || exchangeData.status === 'sending' || exchangeData.status === 'finished'} "
          class="status waiting">
          <span>Waiting</span>
        </div>
        <div class="next-icon" [ngClass]="{'active': exchangeData.status === 'confirming'
        || exchangeData.status === 'exchanging' || exchangeData.status === 'sending' || exchangeData.status === 'finished'} ">
          <mdb-icon fas icon="angle-double-right"></mdb-icon>
        </div>

        <div [ngClass]="{'active': exchangeData.status === 'confirming'
        || exchangeData.status === 'exchanging' || exchangeData.status === 'sending' || exchangeData.status === 'finished'} "
             class="status">
          <span>Confirming</span>
        </div>
        <div class="next-icon"
          [ngClass]="{'active': exchangeData.status === 'exchanging' || exchangeData.status === 'sending' || exchangeData.status === 'finished'} ">
          <mdb-icon fas icon="angle-double-right"></mdb-icon>
        </div>
        <div
          [ngClass]="{'active': exchangeData.status === 'exchanging' || exchangeData.status === 'sending' || exchangeData.status === 'finished'} "
          class="status">
          <span>Exchanging</span>
        </div>
        <div class="next-icon"
             [ngClass]="{'active': exchangeData.status === 'sending' || exchangeData.status === 'finished'} ">
          <mdb-icon fas icon="angle-double-right"></mdb-icon>
        </div>

        <div [ngClass]="{'active': exchangeData.status === 'sending' || exchangeData.status === 'finished'} "
             class="status">
          <span>Sending</span>
        </div>
        <div class="next-icon"
          [ngClass]="{'active': exchangeData.status === 'finished'} ">
          <mdb-icon fas icon="angle-double-right"></mdb-icon>
        </div>

        <div [ngClass]="{'active': exchangeData.status === 'finished'} "
             class="status finished">
          <span>Finished</span>
        </div>
      </div>

<!--      Status bar for mobile view   -->

      <div *ngIf="screenWidth < 660" class="status-bar mobile">
        <div class="status mobile active">
          <span class="status-label">Status :</span>
          <span>{{exchangeData.status}}</span>
          <img *ngIf="fetchingData" src="assets/blue-spinner.svg" width="21px">
        </div>
      </div>
    </div>


    <div class="card-background">
      <div class="exchange-info">
        <div class="header">
          <h2>Exchange Details</h2>
        </div>
        <div class="id title">
          <p>Exchange ID : {{exchangeId}}</p>
        </div>
        <hr>

        <!--        Exchange Content   -->

        <div
          *ngIf="exchangeData.status !== 'failed' && exchangeData.status !== 'expired'
          && exchangeData.status !== 'refunded' && exchangeData.status !== 'verifying' && !fetchingData"
          class="exchange-process">
          <div class="exchange-content">
            <div class="sending-details">
              <div class="box-wrap">
                <span class="title">You Send</span>
                <div>
                  <p>{{exchangeData.amount_from}} {{exchangeData.currency_from}}</p>
                </div>
              </div>
            </div>
            <div class="exchange-icon">
              <mdb-icon class="exchange-to-icon" fas icon="arrow-circle-right"></mdb-icon>
            </div>
            <div class="box-wrap">
              <div class="receiving-details">
                <span class="title">You Get</span>
                <p>{{exchangeData.amount_to}} {{exchangeData.currency_to}}</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="addresses">
            <div class="recipient-address">
              <span class="title">Recipient Address</span>
              <p>{{exchangeData.address_to}}</p>
            </div>
            <br>
            <div class="message">
              <span class="title">Memo/Message</span>
              <p *ngIf="!exchangeData.extra_id_to">-</p>
              <p>{{exchangeData.extra_id_to}}</p>
            </div>
          </div>
          <hr>
          <div *ngIf="exchangeData.txt_from || exchangeData.txt_to" class="hashes">
            <div *ngIf="exchangeData.txt_from" class="input-hash">
              <span class="title">Input Hash</span>
              <p>{{exchangeData.tx_from}}</p>
            </div>
            <br>
            <div *ngIf="exchangeData.txt_to" class="output-hash">
              <span class="title">Output Hash</span>
              <p>{{exchangeData.tx_to}}</p>
            </div>
          </div>
          <hr *ngIf="exchangeData.txt_from || exchangeData.txt_to">
          <div class="sender-address">
            <span class="title">SEND YOUR {{exchangeData.currency_from}} TO THE ADDRESS</span>
            <p>{{exchangeData.address_from}}</p>
          </div>

          <hr *ngIf="exchangeData.type === 'fixed'">
          <div *ngIf="exchangeData.type === 'fixed'" class="timer">
            <div class="time-icon title">
              <mdb-icon far icon="clock"></mdb-icon>
            </div>
            <div class="time-label title">
              <span >Time window to deposit </span>
            </div>
            <div class="time-left">
              <countdown *ngIf="remainingTime !== -1" [config]="{ leftTime: remainingTime, format: 'mm:ss' }"></countdown>
              <span *ngIf="remainingTime === -1">00:00</span>
            </div>
          </div>
        </div>

        <!--        Exchange Error   -->

        <div *ngIf="!fetchingData" class="exchange-error">
          <h4 *ngIf="exchangeData.status === 'failed'">Transaction failed!</h4>
          <h4 *ngIf="exchangeData.status === 'expired'">Exchange expired! Please create new exchange...</h4>
          <h4 *ngIf="exchangeData.status === 'refunded'">Exchange amount refunded</h4>
          <h4 *ngIf="exchangeData.status === 'verifying'">Verification required. Please contact support...</h4>
        </div>

        <div *ngIf="fetchingData" class="preload-indicator">
          <h2 class="title">Fetching data...</h2>
          <div>
            <img src="assets/blue-spinner.svg"width="80">
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
