footer.page-footer {
  background: rgba(57, 119, 153, 0.9);
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 12%;
  padding-right: 12%;
  font-family: 'Nunito', sans-serif;
}

.track {
  text-align: center;
  width: 100%;
  min-width: 280px;
}

.track span {
  font-size: 20px;
  cursor: default;
}

.track-exchange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  background: white;
  height: 2rem;
  width: 30%;
  min-width: 300px;
  text-align: center;
  border-radius: 50px;
  outline: none;
  border: none;
  padding: 2px 2px 2px 15px;
}

.id-input {
  background: none;
  border: none;
  outline: none;
  padding: 10px 0;
}

.search {
  position: relative;
  background: rgba(57, 119, 153, 0.9);
  border-radius: 50px;
  min-width: 30px;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  color: #ffffff;
}

.id-error {
  color: white;
  cursor: default;
}

.id-error:hover {
  color: #ffffff;
}


p, i, p a {
  font-size: 14px;
  margin: 0 0 4px;
  transition: 0.4s;
  color: #ffffff;

}

p, p a {
  font-weight: 400;
}

p:hover, p a:hover, .list-inline-item:hover {
  color: darkblue;
  transition: 0.4s;
  a:hover {
    color: darkblue;
  }
}

.list-inline-item:hover {
  transition: 0.4s;
  transform: translateY(-5px);
  i {
    color: darkblue;
  }

}

p.tagline:hover, .copyright:hover {
  color: #ffffff;
}

a.btn-floating {
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  padding-top: 8px;
  padding-bottom: 7px;
}

h6 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  text-underline: black;
  color: #ffffff;

}
li.list-inline-item {
  margin-top: 5px;
}


@media screen and (max-width: 992px){
  h6 {
    font-size: 0.8rem;
  }
  p, i, p a {
    font-size: 10px;
  }
}

