footer.page-footer {
  background-color: rgba(28, 52, 108, 0.5);
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 12%;
  padding-right: 12%;
  font-family: 'Quicksand', sans-serif;
}

p, i, p a {
  font-size: 14px;
  margin: 0 0 4px;
  transition: 0.4s;
  color: #ffffff;

}

p, p a {
  font-weight: 400;
}

p:hover, p a:hover, .list-inline-item:hover {
  color: darkblue;
  transition: 0.4s;
  a:hover {
    color: darkblue;
  }

}

.list-inline-item:hover {
  transition: 0.4s;
  transform: translateY(-3px);
  i {
    color: darkblue;
  }

}

p.tagline:hover, .copyright:hover {
  color: #ffffff;
}

a.btn-floating {
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  padding-top: 8px;
  padding-bottom: 7px;
}

h6 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  text-underline: black;
  color: #ffffff;

}

