
  <!--Carousel Wrapper-->
  <div class="carousel slide carousel-multi-item" data-ride="carousel">


    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="assets/eco.jpg"
                   alt="Card image cap">
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="assets/eco.jpg"
                   alt="Card image cap">
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="assets/eco.jpg"
                   alt="Card image cap">
            </div>
          </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="assets/eco.jpg"
                   alt="Card image cap">
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="assets/eco.jpg"
                   alt="Card image cap">
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="assets/eco.jpg"
                   alt="Card image cap">
            </div>
          </div>
        </div>

      </div>
      <!--/.Second slide-->



    </div>
    <!--/.Slides-->
    <!--Controls-->
    <div class="controls-bottom">
      <a class="btn-floating" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating"  data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

  </div>
  <!--/.Carousel Wrapper-->


