<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="tiles-container">
        <div class="tile">
          <span class="tile-heading">News Feed</span>
        </div>
        <div class="tile">
          <span class="tile-heading">News Feed</span>
        </div>
        <div class="tile">
          <span class="tile-heading">News Feed</span>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="tiles-container">
        <div class="tile">
          <span class="tile-heading">News Feed</span>
        </div>
        <div class="tile">
          <span class="tile-heading">News Feed</span>
        </div>
        <div class="tile">
          <span class="tile-heading">News Feed</span>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="tiles-container">
        <div class="tile">
          <span class="tile-heading">News Feed</span>
        </div>
        <div class="tile">
          <span class="tile-heading">News Feed</span>
        </div>
        <div class="tile">
          <span class="tile-heading">News Feed</span>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <div class="carousel-button-wrap">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </div>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <div class="carousel-button-wrap">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </div>
  </a>
</div>
