$bluecolor: rgba(51, 186, 207, 0.6);
$greencolor: rgba(66, 236, 129, 0.8);

* {
  font-family: 'Nunito', sans-serif;
}

div.nav-background {
  background: url("/assets/blueSquareCube.jpg");
}

nav.navbar {
  //background-color: rgba(28, 52, 108, 0.5);
  background: rgba(57, 119, 153, 1);
  //z-index: 2;

}

a.navbar-brand {
  font-size: 15px;
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 20px;
}

a.nav-link, button {
  margin: 0 5px;
  font-size: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

button.btn.btn-outline-light {
  border-radius: 20px;
  padding: 2px 20px;
  outline: none;
  border: solid 2px;
  transition: 0.3s;
}

button.btn.btn-outline-light:hover {
  background-color: $bluecolor;
  border-color: $bluecolor;
  color: white;
  outline: none;
}

a.dropdown-item {
  //font-family: sans-serif;
  font-size: 15px;
}
.fade-down {
  background-color: rgba(28, 52, 108, 0.5);
}
li.nav-item {
  white-space: nowrap;
  a {
    //display: inline-block;
  }
}


/* ============ desktop view ============ */
@media screen and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    margin-top: 0.8rem;
  }
  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
    background-color: rgba(28, 52, 108, 0.5);
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: .3s;
    opacity: 0.8;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
  .dropdown-menu.fade-up {
    margin: 0;
    padding: 0;
  }
  .dropdown-item {
    color: white;
  }
  .dropdown-item:hover {
    border-radius: 5px;
    transform: scale(1.07);
    transition: 0.3s ease-in-out;
    background-color: rgba(28, 52, 108, 0.5);
  }
  .language {
    width: 230px;
    margin-right: 15px;
    background-color: rgba(28, 52, 108, 0.5);
  }
}

/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media screen and (max-width: 992px) {
  .navbar .nav-item:hover .dropdown-menu {
    transition: .3s;
    opacity: 0.8;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }

  .navbar .dropdown-menu.fade-up, .fade-down {
    transition: ease-in-out 0.3s;
    width: 200px;
    top: 180%;
    background-color: rgba(28, 52, 108, 0.4);
  }
  a.dropdown-item {
    color: #ffffff;
  }
  li.nav-item {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10%;
  }
  ul.dropdown-menu.fade-up, .fade-down {
    transition: all ease-in-out 0.5s;
    animation-name: fadeDown;
    animation-duration: 0.5s;
  }
  @keyframes fadeDown {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .dropdown-item:hover, .dropdown-item:active {
    border-radius: 5px;
    transform: scale(1.07);
    transition: 0.3s ease-in-out;
    background-color: rgba(28, 52, 108, 0.5);
  }

  li.nav-buttons {
    display: none;
  }
}

