<div class="history-background-container">
  <div class="header">
    <h2>Exchange History</h2>
  </div>

  <div class="labels-container">
    <div class="id-label label">
      <span>Exchange ID</span>
    </div>
    <div class="status-label label">
      <span>Status</span>
    </div>
    <div class="date-label label">
      <span>Date</span>
    </div>
    <div class="from-label label">
      <span>From</span>
    </div>
    <div class="to-label label">
      <span>To</span>
    </div>
  </div>

  <div *ngIf="fetchingData" class="preload-spinner">
    <img src="assets/blue-spinner.svg">
  </div>

  <div *ngIf="!fetchingData && exchangeDetails" class="history-content">

    <div *ngFor="let exchange of exchangeDetails, index as index" class="exchange-item">
      <div *ngIf="exchange.id && exchange.id !== null" routerLink='/exchange/{{exchange.id}}' class="id-value value">
        <span>{{exchange.id}}</span>
      </div>
      <div routerLink='/exchange/{{exchange.id}}' class="status-value value">
        <span>{{exchange.status}}</span>
      </div>
      <div routerLink='/exchange/{{exchange.id}}' class="date-value value">
        <span>{{exchange.timestamp}}</span>
      </div>
      <div routerLink='/exchange/{{exchange.id}}' class="from-value value">
        <span>{{exchange.amount_from }} {{exchange.currency_from}}</span>
      </div>
      <div routerLink='/exchange/{{exchange.id}}' class="to-value value">
        <span>{{exchange.amount_to }} {{exchange.currency_to}}</span>
      </div>

    </div>
  </div>


</div>
