* {
  font-family: 'Nunito', sans-serif;
}

.history-background-container {
  padding: 5% 10%;
  background: #dce8f1;
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  text-align: center;
  color: rgb(128, 128, 128);
}

.exchange-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  //flex-wrap: wrap;
  border-radius: 10px;
  border: 1px solid rgba(57, 119, 153, 0.5);
  padding: 5px 10px;
  margin: 30px 0;
  transition: 0.5s;
  background: rgba(57, 119, 153, 0.1);
  cursor: pointer;
}

.exchange-item:hover {
  transition: 0.5s;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

input {
  border: none;
  background: none;
  outline: none;
}
