<body>
<div class="background-container">
<!--  <app-navigation-bar></app-navigation-bar>-->

  <!------- Login ------>
  <div class="container fadeInDown" data-aos="zoom-in" data-aos-duration="900">
    <div class="form-content">
      <div class="form-background">
        <h1>Login</h1>
        <hr>

        <!-- Form -->
        <form #loginForm="ngForm">
          <div class="form-group">
            <input type="text" class="form-control" #username="ngModel" name="username" placeholder="Username" required
                   [(ngModel)]="name">
            <div class="error-display">
              <span style="color: red" *ngIf="username.touched && username.invalid">Please enter username</span>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" #password="ngModel" name="password" placeholder="Password"
                   required [(ngModel)]="pass">
            <div class="error-display">
              <span *ngIf="password.touched && password.invalid">Please enter your password</span>
            </div>
          </div>
          <div *ngIf="invalidCredentials" class="login-response">
            <span>Username or password is incorrect</span>
          </div>
          <div *ngIf="userNotFound" class="login-response">
            <span>User does not exist. Please create account first.</span>
          </div>
          <input [disabled]="loginForm.form.invalid" (click)="loginUser()" type="submit" class="fadeIn button" value="Login">
          <a class="underlineHover" routerLink="/">Forgot Password?</a>

        </form>
        <!-- FOrm Footer -->
        <div class="form-footer">
          <p>Don't have an account?</p>
          <a class="underlineHover" routerLink="/signup">Sing Up now</a>
        </div>
      </div>
    </div>
  </div>

  <!------- ./Login End ------>


</div>
</body>
