<body>
<div class="background-container">
  <app-navigation-bar></app-navigation-bar>

  <!------- Currency Converter ------>
  <div class="container fadeInDown" data-aos="zoom-in" data-aos-duration="900">
    <div class="form-content">
      <div class="form-background">
        <h1>Exchange</h1>
        <hr>


        <div class="crypto-converter">
          <div class="send-crypto">
            <form>
              <div class="label-wrap">
                <label class="coin-input-label" for="sendAmount">You Send</label>
              </div>
              <div class="input-container">
                <input [(ngModel)]="sendAmount" class="coin-input" #sendingAmount name="depositAmount" id="sendAmount"
                       type="text" placeholder="Enter amount"
                       onkeypress="return !(event.charCode !=46 && event.charCode > 31 && (event.charCode < 48 || event.charCode > 57))"
                       (keyup)="convertTo(depositCoin.value, receiveCoin.value)">
                <select (change)="getReceiveCoinList(depositCoin.value)" #depositCoin>
                  <option *ngFor="let coin of coinList1" value="{{coin.symbol}}">{{coin.symbol}}</option>
                </select>
              </div>
              <div class="info">
                <span *ngIf="minMax.max === null && minMax.min !== 0">Minimum amount should be {{minMax.min}}</span>
                <span
                  *ngIf="minMax.min === null || minMax.min === 0 && minMax.max !== null">Maximum amount should be {{minMax.max}}</span>
              </div>
            </form>

          </div>
          <div class="get-crypto">
            <div class="label-wrap">
              <label class="coin-input-label" for="getAmount">You Get</label>
            </div>
            <div class="input-container">
              <input [(ngModel)]="getAmount.rate" class="coin-input" id="getAmount" type="text" placeholder="-"
                     onkeypress="return !(event.charCode !==46 && event.charCode > 31 && (event.charCode < 48 || event.charCode > 57))">
              <select (change)="getMinMax(depositCoin.value, receiveCoin.value)" [(ngModel)]="receiveCurrency" name="r"
                      #receiveCoin>
                <option *ngFor="let coin of coinList2" value="{{coin.symbol}}">{{coin.symbol}}</option>
              </select>
            </div>

          </div>
          <div class="address-container">
            <div class="form-group">
              <div class="label-wrap">
                <label for="address">Recipient's Address</label>
              </div>
              <input id="address" name="addressField" class="address-input form-control"
                     [(ngModel)]="recipientAddress"
                     (keyup)="validateAddress(receiveCoin.value, recipientAddress)"
                     placeholder="Enter Recipient's address">
              <div class="info">
                <span *ngIf="recipientAddress && addressValidation.valid">Address is Valid</span>
                <span *ngIf="recipientAddress && !addressValidation.valid">Invalid Address</span>
              </div>
            </div>
          </div>

          <div *ngFor="let rCoin of coinList2">
            <div *ngIf="receiveCoin.value == rCoin.symbol && rCoin.has_extra_id" class="message-container">
              <div class="form-group">
                <div class="label-wrap">
                  <label for="address">{{rCoin.extra_id}}</label>
                </div>
                <input id="message" name="addressField" class="address-input form-control"
                       [(ngModel)]="messageText"
                       (keyup)="validateMessage(receiveCoin.value, messageText)"
                       placeholder="Enter {{rCoin.extra_id}} (optional)">
                <div class="info">
                  <span *ngIf="messageText && messageValidation.valid">{{rCoin.extra_id}} is Valid</span>
                  <span *ngIf="messageText && !messageValidation.valid">Invalid {{rCoin.extra_id}}</span>
                </div>
              </div>
            </div>
          </div>


          <div class="exchange-button">
            <input [disabled]="!sendAmount || !recipientAddress || !addressValidation.valid" (click)="postData(depositCoin.value, receiveCoin.value)" id="exchangeButton" type="submit" value="EXCHANGE">
          </div>
          <p>0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae</p>

        </div>


      </div>

    </div>
  </div>


  <!------- ./Login End ------>


</div>

</body>
