<body>

<!--------- Homepage Top ----------->

<div class="background-img-container">
  <section class="homepage-top">
    <!--Navbar -->
    <!--    <app-navigation-bar></app-navigation-bar>-->
    <!--/.Navbar end -->

    <!-- Homepage banner-->
    <section class="homepage-banner">
      <div class="banner-wrap">
        <h1 data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000" class="tagline"> A Global
          Cryptocurrency Leader Since 20XX </h1>
        <div class="crypto-container">
          <div data-aos="fade-right" data-aos-easing="linear" data-aos-duration="700" data-aos-delay="700"
               class="crypto-wrap">
            <h5>{{cryptoAssets}}</h5>
            <p>Crypto Assets</p>
          </div>
          <div data-aos="fade-left" data-aos-easing="linear" data-aos-duration="700" data-aos-delay="700"
               class="crypto-wrap">
            <h5>{{tradingVolume}}</h5>
            <p>24 hours Trading Volume</p>
          </div>
        </div>

        <!-- Crypto-currency Converter -->
        <!--        <div class="crypto-converter">-->
        <!--          <div class="send-crypto">-->
        <!--            <div class="input-container">-->
        <!--              <label class="coin-input-label" for="sendAmount">You Send</label>-->
        <!--              <input class="coin-input" #sendingAmount id="sendAmount" type="text" placeholder="Enter amount"-->
        <!--                     value="{{sendAmount}}"-->
        <!--                     onkeypress="return !(event.charCode !=46 && event.charCode > 31 && (event.charCode < 48 || event.charCode > 57))"-->
        <!--                     (keyup)="convertTo(sendingAmount.value)">-->
        <!--            </div>-->
        <!--            <select>-->
        <!--              <option style="overflow-y: auto" *ngFor="let coin of coinList1" value="{{coin}}">{{coin}}</option>-->
        <!--            </select>-->
        <!--          </div>-->
        <!--          <mdb-icon class="exchange-icon" fas icon="exchange-alt"></mdb-icon>-->
        <!--          <div class="get-crypto">-->
        <!--            <div class="input-container">-->
        <!--              <label class="coin-input-label" for="getAmount">You Get</label>-->
        <!--              <input class="coin-input" #receivingAmount id="getAmount" type="text" placeholder="- - - "-->
        <!--                     value="{{getAmount}}"-->
        <!--                     onkeypress="return !(event.charCode !=46 && event.charCode > 31 && (event.charCode < 48 || event.charCode > 57))"-->
        <!--                     (keyup)="convertFrom(receivingAmount.value)">-->
        <!--            </div>-->
        <!--            <select>-->
        <!--              <option *ngFor="let coin of coinList2" value="{{coin}}">{{coin}}</option>-->
        <!--            </select>-->
        <!--          </div>-->
        <!--        </div>-->
        <div style="margin-top: 50px" class="exchange-button">
          <input routerLink="/exchange" id="exchangeButton" type="submit" value="EXCHANGE">
        </div>
        <!-- ./Crypto-currency Converter End -->

      </div>
    </section>
    <!-- ./Homepage banner end -->

  </section>
</div>
<!------------ ./Homepage Top End ---------->


<!--------- Homepage Bottom ---------->
<section class="homepage-bottom">

  <section class="carousel-container">
    <app-carousel></app-carousel>
  </section>


  <!--  <section class="crypto-table-container">-->
  <!--    <table class="crypto-table" mdbTable hover="true">-->
  <!--      &lt;!&ndash;        <caption>List of users</caption>&ndash;&gt;-->
  <!--      <thead>-->
  <!--      <tr>-->
  <!--        <th *ngFor="let head of headElements" scope="col">{{head}} </th>-->
  <!--      </tr>-->
  <!--      </thead>-->
  <!--      <tbody>-->
  <!--      <tr class="table-rows" mdbTableCol *ngFor="let el of elements">-->
  <!--        <th scope="row">{{el.rank}}</th>-->
  <!--        <td>{{el.name}}</td>-->
  <!--        <td>{{el.price}}</td>-->
  <!--        <td>{{el.change}}</td>-->
  <!--        <td>{{el.market}}</td>-->
  <!--      </tr>-->
  <!--      </tbody>-->
  <!--    </table>-->
  <!--  </section>-->


</section>

<div class="widgets-container">
  <div class="widgets-wrap">
    <div class="widget">
      <span>Top cryptocurrencies coin price charts will be shown here...</span>
      <coingecko-coin-price-chart-widget coin-id="bitcoin" currency="usd" height="300" locale="en"
                                         background-color="#ffffff" width="400"></coingecko-coin-price-chart-widget>
    </div>
    <div class="widget">
      <span>Top cryptocurrencies coin price charts will be shown here...</span>
      <coingecko-coin-price-chart-widget coin-id="ethereum" currency="usd" height="300" locale="en"
                                         background-color="#ffffff" width="400"></coingecko-coin-price-chart-widget>
    </div>
    <div class="widget">
      <span>Top cryptocurrencies coin price charts will be shown here...</span>
      <coingecko-coin-price-chart-widget coin-id="binancecoin" currency="usd" height="300" locale="en"
                                         background-color="#ffffff" width="400"></coingecko-coin-price-chart-widget>
    </div>
    <div class="widget">
      <span>Top cryptocurrencies coin price charts will be shown here...</span>
      <coingecko-coin-price-chart-widget coin-id="litecoin" currency="usd" height="300" locale="en"
                                         background-color="#ffffff" width="400"></coingecko-coin-price-chart-widget>
    </div>
    <div class="widget">
      <span>Top cryptocurrencies coin price charts will be shown here...</span>
      <coingecko-coin-price-chart-widget coin-id="tether" currency="usd" height="300" locale="en"
                                         background-color="#ffffff" width="400"></coingecko-coin-price-chart-widget>
    </div>
    <div class="widget">
      <span>Top cryptocurrencies coin price charts will be shown here...</span>
      <coingecko-coin-price-chart-widget coin-id="ripple" currency="usd" height="300" locale="en"
                                         background-color="#ffffff" width="400"></coingecko-coin-price-chart-widget>
    </div>
    <div class="widget">
      <span>Top cryptocurrencies coin price charts will be shown here...</span>
      <coingecko-coin-price-chart-widget coin-id="link" currency="usd" height="300" locale="en"
                                         background-color="#ffffff" width="400"></coingecko-coin-price-chart-widget>
    </div>
  </div>
</div>

<!--------- ./Homepage Bottom End ---------->

<!------- Register Container ------------>
<div class="register-background">
  <div class="register-container" data-aos="fade-up" data-aos-duration="2000">
    <h3 class="label-register">Start Trading Now</h3>
    <form class="register-form">
      <input class="email-input" id="email" type="email" name="username" placeholder="Enter your Email"/>
      <button routerLink="/signup" class="register-button">
        <a>Get Registered</a>
      </button>
      <p class="mobile-view-only">OR</p>
      <button routerLink="/login" class="login-button mobile-view-only">
        <a>Login</a>
      </button>
    </form>

  </div>
</div>
<!------- ./Register Container End ------------>


<!----------- Homepage Footer -------------->
<!--<section class="footer-container">-->
<!--  <app-footer></app-footer>-->
<!--</section>-->
<!----------- ./Homepage Footer End -------------->

</body>
