<body>

<!--------- Homepage Top ----------->

<div class="background-img-container">
  <section class="homepage-top">
    <!--Navbar -->
    <app-navigation-bar></app-navigation-bar>
    <!--/.Navbar end -->

    <!--/ Homepage banner-->
    <section class="homepage-banner" style="color: white">
      <div class="banner-wrap">
        <h1 class="tagline"> A Global Cryptocurrency Leader Since 2013 </h1>
        <div class="crypto-container">
          <div class="crypto-wrap">
            <h5>{{cryptoAssets}}</h5>
            <p>Crypto Assets</p>
          </div>
          <div class="crypto-wrap">
            <h5>${{tradingVolume}}</h5>
            <p>24 hours Trading Volume</p>
          </div>
        </div>
      </div>
    </section>
    <!--/ Homepage banner end -->
  </section>
</div>

<!------------ ./Homepage Top End ---------->


<!--------- Homepage Bottom ---------->
<section class="homepage-bottom">

  <section class="carousel-container">
    <app-carousel></app-carousel>
  </section>

  <section class="crypto-price-table">
    <div>
      <!--          style="height:374px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F; padding: 0px; margin: 0px; width: 100%;">-->
      <div style="height:450px; padding:0px; margin:0px; width: 100%;">
        <iframe src="https://widget.coinlib.io/widget?type=full_v2&theme=light&cnt=5&pref_coin_id=1505&graph=yes"
                width="100%" height="450px" marginwidth="0" marginheight="0" frameborder="0" border="0"
                style="border:0;margin:0;padding:0;"></iframe>
      </div>
    </div>
  </section>

</section>

<!--------- ./Homepage Bottom End ---------->

<!------- Register Container ------------>
<div class="register-background">
  <div class="register-container">
    <h3 class="label-register">Start Trading Now</h3>
      <div class="form-container">

        <form>
          <input class="email-input" id="email" type="email" name="username" placeholder="Enter your Email"/>
          <button routerLink="/signup" class="register-button">
            <a>Get Registered</a>
          </button>


          <p class="mobile-view-only">OR</p>
          <button routerLink="/login" class="login-button mobile-view-only">
            <a>Login</a>
          </button>
        </form>
      </div>

  </div>
</div>
<!------- ./Register Container End ------------>


<!----------- Homepage Footer -------------->
<section class="footer-container">
  <app-footer></app-footer>
</section>
<!----------- ./Homepage Footer End -------------->

</body>
