$bluecolor: rgba(51, 186, 207, 0.7);
$greencolor: rgba(92, 208, 95, 0.7);


* {
  font-family: 'Nunito', sans-serif;
}


/* ============ background Image container ============ */
div.background-img-container {
  background-image: linear-gradient(to bottom, $bluecolor, $greencolor), url("src/assets/blueSquareCube.jpg");
  background-attachment: fixed;
  position: sticky;
  //background-position: center;
  background-repeat: no-repeat;

}

/* ============ HomePage Top ============ */
section.homepage-top {
  height: 100vh;
  font-weight: 500;
  position: page;
  //background-image: linear-gradient(to bottom, $bluecolor, $greencolor);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  width: 100%;
}

section.homepage-banner {
  color: #ffffff;
  margin-right: 15%;
  margin-left: 15%;
  padding-bottom: 1px;
  text-align: center;
}

div.banner-wrap {
  margin-top: 10%;
  margin-bottom: 10%;
}

div.crypto-container {
  display: flex;
  justify-content: center;
}

div.crypto-wrap h5, div.crypto-wrap p {
  margin: 0;
  padding: 0;
}

div.banner-wrap h1 {
  font-weight: 900;
  font-size: 3rem;
}

div.crypto-wrap h5 {
  margin-top: 2px;
  font-weight: 600;
  font-size: 18px;
}

div.crypto-wrap p {
  font-size: 15px;

}

div.crypto-wrap {
  margin: 1rem;
  border: 2px solid white;
  border-radius: 30px;
  width: 250px;
}

section.homepage-bottom {
  margin: 0 12% 1rem;
}

section.crypto-price-table {
  margin-top: 1rem;
}

/* ============ Crypto Converter ============ */

div.crypto-converter {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.exchange-icon {
  margin-top: 47px;
  font-size: 1.2rem;
  color: #dce8f1;
}
div.input-container {
  white-space: nowrap;
  //overflow-x: auto;
}

.send-crypto, .get-crypto {
  margin: 2rem 5px;
  justify-content: space-between;
  display: flex;
  min-width: 285px;
  width: 450px;
  background-color: #dce8f1;
  padding: 2px;
  height: 3rem;
  border-radius: 50px;
}

label.coin-input-label {
  width: 100px;
  display: inline-block;
  color: rgba(57, 119, 153, 0.6) ;
  font-size: 17px;
  padding: 8px 10px 5px 15px;
  margin: 0;
}

input.coin-input {
  display: inline-block;
  border: none;
  border-left: solid 1px dimgrey;
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
  background: none;
  outline: none;
}
select {
  color: white;
  outline: none;
  border-radius: 50px;
  float: right;
  background: rgba(57, 119, 153, 0.6);
  border: none;
  margin-left: 1px;
  padding: 0 20px;
  text-align: center;
}

div.exchange-button input {
  font-size: 1.1rem;
  background: rgba(57, 119, 153, 0.8);
  height: 3rem;
  width: 250px;
  border-radius: 50px;
  outline: none;
  color: white;
  box-shadow: none;
  border: none;
  transition: ease-in-out 0.3s;
  -webkit-font-smoothing: antialiased;
}
div.exchange-button input:hover {
  transition: 0.3s ease-out;
  transform: perspective(1px) scale(1.02) translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}



/* ============ Carousel ============ */
section.carousel-container {
  margin: 1.5rem 0;
}


/* ============ Bottom Registration Container ============ */
div.register-container {
  text-align: center;
  padding: 3rem;
  overflow: hidden;
}

div.register-background {
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), $bluecolor);
}

div.form-container {
  z-index: 1;
  display: block;
  width: 350px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

h3.label-register {
  //font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

button.register-button, input.email-input, button.login-button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  height: 2.5rem;
  border-radius: 30px;
  margin: 4px;
  width: 300px;
  text-align: center;
  transition: 0.3s;
}

button.register-button, button.login-button {
  font-weight: 500;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(to right, $bluecolor, $greencolor);
}

button.register-button:hover, input.email-input:hover, button.login-button:hover {
  transition: 0.3s ease-out;
  transform: perspective(1px) scale(1.02) translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

.mobile-view-only {
  display: none;
}

p.mobile-view-only {
  margin: 16px 0;
}


/* ============ Mobile View ============ */
@media screen and (max-width: 992px) {
  div.crypto-container {
    display: block;
    text-align: center;
    justify-content: center;
    margin: auto;
    h5 {
      font-size: 13px;
    }
    p {
      font-size: 10px;
    }

  }
  div.banner-wrap h1 {
    font-size: 2rem;
  }

  div.crypto-wrap {
    margin: auto;
    margin-top: 1rem;
    border: 2px solid white;
    border-radius: 30px;
    width: 250px;
  }

  div.crypto-converter {
    font-size: 0.7rem;
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;

    .exchange-icon {
      font-size: 1rem;
      font-family: Arial Bold;
      margin-top: 0;
      transform: rotate(90deg);
    }

    div.send-crypto, div.get-crypto {
      margin: 5px auto;
      width: 90%;
      height: 2rem;

      label.coin-input-label {
        width: 65px;
        font-size: 0.7rem;
        padding: 6px 8px 5px 12px;
        margin: 0;
      }
    }
  }
  div.exchange-button input {
    height: 2rem;
    margin-top: 10px;
  }

  .mobile-view-only {
    display: block;
  }

}
